.note{
    border: 1px solid red;
    width: 20vw;
    background-color: aqua;
}
.note p{
    text-transform: capitalize;
    font-weight: 300;
    white-space: pre-wrap;

}
.date{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.date p{
    color: blueviolet;
}
.delete:hover{
    cursor: pointer;
}