.count{
    display: flex;
    justify-content: space-between;
    border: 2px solid red;
}
.count p{
    color: blue;
}
.count button{
    background-color: azure;
    border: 1px solid black;
    border-radius: 2px;

}
.count button:hover{
    cursor: pointer;
}
