.App {
  display: grid;
  /* grid-template-columns: repeat(autofit,  min-max(150px, 1fr)); */
  grid-template-columns: repeat(3, 1fr);
  /* border: 2px solid white; */
  width: 95%;
  padding: 2vw;
  overflow-x: hidden;
  /* border: 2px solid red; */
  gap: 1vw;
}

@media (max-width: 500px) {
  .App {
    /* width: 200px; */
    grid-template-columns: 1fr ;
    place-items: center;
  }
}
/* @media (width: 600px) and (width:950px) {
  .App {
    /* width: 200px; 
    grid-template-columns: 1fr 1fr;
  }
} */
