@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
body {
  margin: 0;
  /* padding: 1vw; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(219, 252, 252);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.pp {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
  min-height: 100vh;
  gap: 4vh;
}

.darkMode{
  background-color: black;
  color: white;
}